

html {
    scroll-behavior: smooth;
}




.text-align-center{
    text-align: center;
}

.text-align-left{
    text-align:left;
}


.nav img{
    height: 10%;
    width: 10%;
}

.navbar {
    position:fixed;
    top:10px;
    z-index:10;
    background:#fff;
    width:100%;
    background-color: transparent !important;
}


.carousel img{
    height: 46rem;
}


.somos{
    background-color: black;
    color: #fff;
    font-weight: 100;
    padding-top: 5rem;
}

.somos hr{
    border-color: var(--primary);
    border-top-width: 0.15rem;
}

.somos article{
    height: 28rem;
}
.row{
    padding: 0;
    margin: 0;
    width: 100%;
    max-width:100%;
}

.areaazul{
    background-color: var(--primary);
    padding: 0.25rem;
    margin-bottom: 1rem;
    font-size: 1.7rem;
}


.destacados{
    background-color: black;
    color: #fff;
    font-weight: 100;
    padding-top: 3rem;
}

.destacados hr{
    border-color: var(--primary);
    border-top-width: 0.15rem;
}

.card{
    height: 33rem;
}
.card-text{
    font-size: 1rem;
}

.card img{
    height: 193px;
}